@import './utils';
@import './media-queries';

#curriculum-section{
   @include main-background;
   margin-top: 20px ;
   @include smartphone{
       margin-top: 200px;
   }
    .curriculum{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include smartphone{
            display: flex;
            flex-direction: column;
        }
        &-left{
            h3{
                font-size: 40px;
                @include smartphone{
                    font-size: 24px;
                }
            }

            p{
                font-weight: bold;
                font-size: 17px;
                margin-top: 2rem;
                @include smartphone{
                    font-weight: normal;
                }
                span{
                    color: $span-color;
                }
            }

            img{
               
                margin-top: 30px;
                width: 600px;
                height: 300px;
                border-radius: 20px;
                box-shadow: 3px 3px 26px $Secondary-color;
                @include tablet{
                    display: none;
                }
            }
        }
        
       .curriculum-right{
           position: relative;
           left: 80px;
       }
            
          
    }

}