@import './utils';

#curriculum-section{
   @include main-background;
    .curriculum{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        &-left{
            h3{
                font-size: 40px;
            }

            p{
                font-weight: bold;
                font-size: 17px;
                margin-top: 2rem;
                span{
                    color: $span-color;
                }
            }

            img{
                
                margin-top: 30px;
                width: 600px;
                height: 300px;
                border-radius: 20px;
                box-shadow: 3px 3px 26px $Secondary-color;
            }
        }
        
       .curriculum-right{
           position: relative;
           left: 80px;
       }
            
          
    }

}