@import './utils';

#hero-section{
    animation-name: text-change;
    animation-duration: 4s;
    background: black;
    color: white;
    height: 85vh;
    .hero-section{
        margin: 0 4rem;
        padding-top: 7rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .hero-left{

            h1{
                font-size: 60px;
            }

            .p-hero{
                font-size: 20px;
                margin-top: 2rem;
            }

            .box-esterno{
                margin-top: 1rem;
                .box-interno{
                    
                    background: rgba(20, 54, 57, 0.7);
                    border: 2px solid rgb(17, 72, 61);
                    border-radius: 20px;
                    display: flex;
                    justify-content: space-between;
                    max-width: 300px;
                    padding: 10px 20px;
                    position: relative;
                    bottom: 110px;
                    left: 20px;
                    
                    .box-btn{
                        animation-name: hero-btn;
                        animation-duration: 4s;
                       
                        

                        background: $span-color;
                        border-radius: 20px;
                        color: white;
                        text-decoration: none;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 10px;
                    }
                }
            }
        }
          
        .hero-right{
            .cube_S{
                position: relative;
                bottom: 400px;
                opacity: 0;
            }
        }  
        
    }
}

@keyframes hero-btn {
    from{
        width: 300px;
        color: $span-color;
    }

    to{
       width: 113px;
       color: white;
    }
}

@keyframes text-change{
    from{
        color: black;
    }

    to{
        color: white;
    }
}