@import './utils';
@import './media-queries';

#hero-section{
    display: block;
    @include main-background;
    animation-name: text-change;
    animation-duration: 4s;
    height: 85vh;
   
    .hero-section{
        width: 80%;
        margin: auto;
        padding-top: 7rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include smartphone{
            display: flex;
            flex-direction: column;
        }
        
        .hero-left{
           z-index: 2;
            h1{
                font-size: 60px;
                @include smartphone{
                    font-size: 40px;
                }
                
            }

            .p-hero{
                font-size: 20px;
                margin-top: 2rem;
            }

            .box-esterno{
                margin-top: 1rem;
                .box-interno{
                    box-shadow: inset 5px 6px 26px 2px white;
                    background: rgba(51, 255, 217, 0.2);
                    backdrop-filter: blur(12px);
                    border: 2px solid rgba(17, 72, 61, 1);
                    border-radius: 20px;
                    display: flex;
                    justify-content: space-between;
                    max-width: 300px;
                    padding: 10px 20px;
                    position: relative;
                    bottom: 110px;
                    left: 20px;
                    
                    .box-btn{
                        @include btn-background;
                        color: white;
                        animation-name: hero-btn;
                        animation-duration: 4s;
                        border-radius: 20px;
                        text-decoration: none;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 10px;

                        &:hover{
                           @include btn-background-hover;
                        }

                        

                    }
                }
            }
        }
          
        .hero-right{
            z-index: 1;
            .cube_L{
                @include tablet{
                    display: none;
                }
            }

            .cube_S{
                display: none;
                @include tablet{
                    display: block;
                    margin: 0 15% ;
                }
                @include smartphone{
                    position: absolute;
                    top: 550px;
                    right: -100px;
                }
            }
        }  
        
    }
}

@keyframes hero-btn {
    from{
        width: 300px;
        color: $span-color;
    }

    to{
       width: 128px;
       color: white;
    }
}

@keyframes text-change{
    from{
        color: black;
    }

    to{
        color: white;
    }
}

