@import './utils';

#need{
    height: 600px;
    background: black;
    color: white;
    .external-need{
       @include flexcenter(column);
        width: 80%;
        margin: auto;
        h3{
            font-size: 40px;
            padding-top: 100px;
        }

        .need-container{
            @include border-led;
            height: 350px;
            position: relative;
            bottom: 450px;
            backdrop-filter: blur(12px);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            font-weight: bold;

            span{
                color: $span-color-2;
            }

            .need-left{
                padding-left: 40px;
                height: 400px;
                h4{
                    color: $span-color;
                    font-size: 30px ;
                    margin-top: 50px;
                }

                p{
                    margin-top: 20px;
                }
            }

            .need-center{
                @include flexcenter(column);
                .small{
                    opacity: 0;
                    position: relative;
                }
                .large{
                    position: relative;
                    bottom: 200px;
                }
            }

            .need-right{
                padding-right: 40px;
                height: 400px;
                h4{
                    color: $span-color;
                    font-size: 30px ;
                    margin-top: 50px;
                }

                p{
                    margin-top: 20px;
                }
            }
            
        }
    }
}    