@import './utils';

#review{
    @include main-background;
    height: 600px;
    
    .review-container{
        @include flexcenter (column);
        
         h3{
            margin-top: 50px;
            margin-bottom: 20px;
            font-size: 40px; 
        }

        .review-all{
            margin-left: 50px;
            display: flex;

            .review-single{
                @include border-led;
                height: 350px;
                width: 300px;
                position: relative;
                bottom: 165px;
                margin: 0 50px;
                padding: 30PX;

                h6{
                    font-size: 20px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                }

                p{
                    padding-bottom: 10px;
                }
            }
        }
    }
}