@import './utils';
@import './media-queries';

#review{
    @include main-background;
    height: 600px;
    @include tablet{
        height: 1400px
    }
    @include smartphone{
        margin-top: 450px
    }
    
    .review-container{
        @include flexcenter (column);
        
         h3{
            margin-top: 50px;
            margin-bottom: 20px;
            font-size: 40px; 
            @include smartphone{
                font-size: 24px;
            }
        }

        .review-all{
            margin-left: 50px;
            display: flex;
            @include tablet{
                display: grid;
                grid-template-columns: 1fr 1fr
            }

            @include smartphone{
                display: flex;
                flex-direction: column;
            }

            .review-external{
                height: 600px;
                .review-single{
                    @include border-led;
                    height: 450px;
                    width: 220px;
                    position: relative;
                    bottom: 165px;
                    margin: 0 50px;
                    padding: 30PX;
        
                    h6{
                        color: $span-color;
                        font-size: 20px;
                        margin-bottom: 20px;
                        margin-top: 10px;
                    }
        
                    p{  
                        padding-bottom: 10px;
                    }
                }
            }
            
            

            
        }
    }
}