@import'./utils';

#solutions{
    @include main-background; 
    height: 1000px;
    &-external{
        padding-top: 200px;
        width: 80%;
        margin: auto;
        position: relative;
        
        #img-left{
          position: absolute;  
          left: -80px;
          bottom: 450px;
        }
        #img-right{
            position: absolute;
            right: -120px;
            bottom: 60px;
        }

        .text{
            @include flexcenter(column);
            h3{
                text-align: center;
                font-size: 40px;
                padding: 30px;
                color: $span-color-2;
            }

            p{
                max-width: 450px;
                padding-bottom: 30px;
                text-align: center;
            }
        }

        .solution-table{
            @include flexcenter(column);
            
            table{
                @include border-led;
                backdrop-filter: blur(12px);
                padding: 50px;
                width: 100%;
                text-align: center;
                thead{
                    font-size: 40px;
                }
                tbody{
                    .first-item-table{
                        text-align: left;
                        padding-left: 20px ;
                    }

                    td{
                        padding: 10px;
                    }
                }

                .corsi{
                    color: greenyellow;
                }

                .universapp{
                    color: $span-color
                }

                .bootcamp{
                    color: yellow
                }
            }

            .extern-btn{
                @include flexcenter(column);
                position: relative;
                bottom: 100px;

                .intern-btn{
                    position: relative;
                    bottom: 135px;
                    @include border-led;
                    color: white;
                    padding: 20px 30px;
                    @include btn-background;

                    a{
                        color: white;
                        text-decoration: none;
                    }
                    
                    &:hover{
                        @include btn-background-hover;
                    }
                    
                    
                }
            }
        }
    }


}