@import './utils';

#tech{
    @include main-background;
    #container-extern{
        padding-top: 50px;
        text-align: center;
        h3{
            font-size: 40px;
            position: relative;
            top: 100px;
        }

        #gemma-grande{
            z-index: 3;
            position: absolute;
            left: -450px;
          
        }

        #gemma-verde{
            position: absolute;
            right: -200px;
            z-index: 1;
        }

        #gemma-piccola{
            position: relative;
            z-index: 3;
            top: 400px;
            left: 200px;
        }

        #container-intern{
            display: flex;
            margin: 50px 150px;
            @include border-led;
            backdrop-filter: blur(12px);
            position: relative;
            bottom: 200px;
            z-index: 2;
            

            #container-intern-left{
                display: grid;
                grid-template-columns: 1fr 1fr;
                h4{
                    font-size: 30px;
                    padding: 20px;
                    text-align: left;
                        
                }
    
                span{
                    color: $span-color;
                }
    
                p{
                    font-weight: bold;
                    padding: 30px;
                    padding-bottom: 60px;
                    text-align: left;
                }
            }

            #container-intern-right{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content:space-between;
                text-align: left;
                width: 300px;
                h4{
                    font-size: 30px;
                    padding-bottom:20px ;
                }

                p{
                    font-weight: bold; 
                    padding-bottom: 10px;
                    padding-right: 20px; 
                      
                }

                span{
                    color: $span-color;
                }
            }
            
            
        }
    }
}