//color
$primary-color:rgb(64, 4, 202);
$Secondary-color:rgb(51, 255, 217);
$span-color:rgb(255, 0, 118);
$span-color-2:rgb(51, 255, 217);

///utils
@mixin border-led {
    border: solid 2px $Secondary-color;
    border-radius: 20px;
    box-shadow: inset 2px 2px 26px $primary-color; 
    background: rgba(25,25,25, 0.5);
}

@mixin flexcenter ($flexdirection) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flexdirection ;
}

@mixin main-background{
    background: black;
    color: white;
}

@mixin btn-background {
    background: linear-gradient(0.25turn, #ff007b, #ff02ec );
}

@mixin btn-background-hover{
    background: linear-gradient(0.25turn, #ff02ec, #6000ff); 
}