@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import './utils';
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@import './_header';
@import './hero'