@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

#header {
  background: black;
  color: white;
  height: 15vh;
}

#header .header-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 14rem;
  padding-top: 1.6rem;
}

#header .header-inside .nav_bar {
  list-style: none;
}

#header .header-inside .nav_bar a {
  color: white;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #4004ca), color-stop(50%, #33ffd9));
  background-image: linear-gradient(90deg, #4004ca 50%, #33ffd9 50%);
  background-size: 100% 4px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 8px;
  margin-left: 3rem;
}

#hero-section {
  background: black;
  color: white;
  -webkit-animation-name: text-change;
          animation-name: text-change;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  height: 85vh;
}

#hero-section .hero-section {
  width: 80%;
  margin: auto;
  padding-top: 7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#hero-section .hero-section .hero-left h1 {
  font-size: 60px;
}

#hero-section .hero-section .hero-left .p-hero {
  font-size: 20px;
  margin-top: 2rem;
}

#hero-section .hero-section .hero-left .box-esterno {
  margin-top: 1rem;
}

#hero-section .hero-section .hero-left .box-esterno .box-interno {
  -webkit-box-shadow: inset 5px 6px 26px 2px white;
          box-shadow: inset 5px 6px 26px 2px white;
  background: rgba(51, 255, 217, 0.2);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border: 2px solid #11483d;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
  padding: 10px 20px;
  position: relative;
  bottom: 110px;
  left: 20px;
}

#hero-section .hero-section .hero-left .box-esterno .box-interno .box-btn {
  background: -webkit-gradient(linear, left top, right top, from(#ff007b), to(#ff02ec));
  background: linear-gradient(0.25turn, #ff007b, #ff02ec);
  color: white;
  -webkit-animation-name: hero-btn;
          animation-name: hero-btn;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  border-radius: 20px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

#hero-section .hero-section .hero-left .box-esterno .box-interno .box-btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ff02ec), to(#6000ff));
  background: linear-gradient(0.25turn, #ff02ec, #6000ff);
}

#hero-section .hero-section .hero-right .cube_S {
  position: relative;
  bottom: 400px;
  opacity: 0;
}

@-webkit-keyframes hero-btn {
  from {
    width: 300px;
    color: #ff0076;
  }
  to {
    width: 128px;
    color: white;
  }
}

@keyframes hero-btn {
  from {
    width: 300px;
    color: #ff0076;
  }
  to {
    width: 128px;
    color: white;
  }
}

@-webkit-keyframes text-change {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@keyframes text-change {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

#curriculum-section {
  background: black;
  color: white;
}

#curriculum-section .curriculum {
  width: 80%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#curriculum-section .curriculum-left h3 {
  font-size: 40px;
}

#curriculum-section .curriculum-left p {
  font-weight: bold;
  font-size: 17px;
  margin-top: 2rem;
}

#curriculum-section .curriculum-left p span {
  color: #ff0076;
}

#curriculum-section .curriculum-left img {
  margin-top: 30px;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 26px #33ffd9;
          box-shadow: 3px 3px 26px #33ffd9;
}

#curriculum-section .curriculum .curriculum-right {
  position: relative;
  left: 80px;
}

#need {
  height: 600px;
  background: black;
  color: white;
}

#need .external-need {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: auto;
}

#need .external-need h3 {
  font-size: 40px;
  padding-top: 100px;
}

#need .external-need .need-container {
  border: solid 2px #33ffd9;
  border-radius: 20px;
  -webkit-box-shadow: inset 2px 2px 26px #4004ca;
          box-shadow: inset 2px 2px 26px #4004ca;
  background: rgba(25, 25, 25, 0.5);
  height: 350px;
  position: relative;
  bottom: 450px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  font-weight: bold;
}

#need .external-need .need-container span {
  color: #33ffd9;
}

#need .external-need .need-container .need-left {
  padding-left: 40px;
  height: 400px;
}

#need .external-need .need-container .need-left h4 {
  color: #ff0076;
  font-size: 30px;
  margin-top: 50px;
}

#need .external-need .need-container .need-left p {
  margin-top: 20px;
}

#need .external-need .need-container .need-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#need .external-need .need-container .need-center .small {
  opacity: 0;
  position: relative;
}

#need .external-need .need-container .need-center .large {
  position: relative;
  bottom: 200px;
}

#need .external-need .need-container .need-right {
  padding-right: 40px;
  height: 400px;
}

#need .external-need .need-container .need-right h4 {
  color: #ff0076;
  font-size: 30px;
  margin-top: 50px;
}

#need .external-need .need-container .need-right p {
  margin-top: 20px;
}

#review {
  background: black;
  color: white;
  height: 600px;
}

#review .review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#review .review-container h3 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 40px;
}

#review .review-container .review-all {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#review .review-container .review-all .review-single {
  border: solid 2px #33ffd9;
  border-radius: 20px;
  -webkit-box-shadow: inset 2px 2px 26px #4004ca;
          box-shadow: inset 2px 2px 26px #4004ca;
  background: rgba(25, 25, 25, 0.5);
  height: 350px;
  width: 300px;
  position: relative;
  bottom: 165px;
  margin: 0 50px;
  padding: 30PX;
}

#review .review-container .review-all .review-single h6 {
  color: #ff0076;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#review .review-container .review-all .review-single p {
  padding-bottom: 10px;
}

#intro-arguments {
  background: black;
  color: white;
}

#intro-arguments-container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#intro-arguments-container #intro-arguments-left {
  margin-right: 30px;
  max-width: 500px;
}

#intro-arguments-container #intro-arguments-left h4 {
  font-size: 40px;
}

#intro-arguments-container #intro-arguments-left span {
  color: #ff0076;
}

#intro-arguments-container #intro-arguments-left p {
  margin-top: 10px;
  font-weight: bold;
}

#main-arguments {
  background: black;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

#main-arguments-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 2px #33ffd9;
  border-radius: 20px;
  -webkit-box-shadow: inset 2px 2px 26px #4004ca;
          box-shadow: inset 2px 2px 26px #4004ca;
  background: rgba(25, 25, 25, 0.5);
  width: 500px;
  height: 350px;
  margin: 30px 10px;
}

#main-arguments-container #main-arguments-left {
  padding-left: 30px;
  padding-top: 30px;
}

#main-arguments-container #main-arguments-left h5 {
  font-size: 30px;
  padding-bottom: 20px;
  color: #ff0076;
}

#main-arguments-container #main-arguments-left .bio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  text-align: left;
}

#main-arguments-container #main-arguments-left .bio-container span {
  color: #33ffd9;
}

#main-arguments-container #main-arguments-left .bio-container .hour {
  border: solid 2px #33ffd9;
  border-radius: 20px;
  -webkit-box-shadow: inset 2px 2px 26px #4004ca;
          box-shadow: inset 2px 2px 26px #4004ca;
  background: rgba(25, 25, 25, 0.5);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  margin: 30px;
}

#main-arguments-container #main-arguments-left #insegnante {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: relative;
  right: 10px;
}

#main-arguments-container #main-arguments-left #insegnante p {
  padding: 10px;
}

#main-arguments-container #main-arguments-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-arguments-container #main-arguments-right img {
  margin-right: 20px;
  margin-top: 30px;
}

#main-arguments .img {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#solutions {
  background: black;
  color: white;
  height: 1000px;
}

#solutions-external {
  padding-top: 200px;
  width: 80%;
  margin: auto;
  position: relative;
}

#solutions-external #img-left {
  position: absolute;
  left: -80px;
  bottom: 450px;
}

#solutions-external #img-right {
  position: absolute;
  right: -120px;
  bottom: 60px;
}

#solutions-external .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#solutions-external .text h3 {
  text-align: center;
  font-size: 40px;
  padding: 30px;
  color: #33ffd9;
}

#solutions-external .text p {
  max-width: 450px;
  padding-bottom: 30px;
  text-align: center;
}

#solutions-external .solution-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#solutions-external .solution-table table {
  border: solid 2px #33ffd9;
  border-radius: 20px;
  -webkit-box-shadow: inset 2px 2px 26px #4004ca;
          box-shadow: inset 2px 2px 26px #4004ca;
  background: rgba(25, 25, 25, 0.5);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  padding: 50px;
  width: 100%;
  text-align: center;
}

#solutions-external .solution-table table thead {
  font-size: 40px;
}

#solutions-external .solution-table table tbody .first-item-table {
  text-align: left;
  padding-left: 20px;
}

#solutions-external .solution-table table tbody td {
  padding: 10px;
}

#solutions-external .solution-table table .corsi {
  color: green;
}

#solutions-external .solution-table table .universapp {
  color: #ff0076;
}

#solutions-external .solution-table table .bootcamp {
  color: orange;
}

#solutions-external .solution-table .extern-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: 100px;
}

#solutions-external .solution-table .extern-btn .intern-btn {
  position: relative;
  bottom: 135px;
  border: solid 2px #33ffd9;
  border-radius: 20px;
  -webkit-box-shadow: inset 2px 2px 26px #4004ca;
          box-shadow: inset 2px 2px 26px #4004ca;
  background: rgba(25, 25, 25, 0.5);
  color: white;
  padding: 20px 30px;
  background: -webkit-gradient(linear, left top, right top, from(#ff007b), to(#ff02ec));
  background: linear-gradient(0.25turn, #ff007b, #ff02ec);
}

#solutions-external .solution-table .extern-btn .intern-btn a {
  color: white;
  text-decoration: none;
}

#solutions-external .solution-table .extern-btn .intern-btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ff02ec), to(#6000ff));
  background: linear-gradient(0.25turn, #ff02ec, #6000ff);
}
/*# sourceMappingURL=style.css.map */