@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

#header {
  background: black;
  height: 15vh;
}

#header .header-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 14rem;
  padding-top: 1.6rem;
}

#header .header-inside .nav_bar {
  list-style: none;
}

#header .header-inside .nav_bar a {
  color: white;
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #4004ca), color-stop(50%, #33ffd9));
  background-image: linear-gradient(90deg, #4004ca 50%, #33ffd9 50%);
  background-size: 100% 4px;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 8px;
  margin-left: 3rem;
}

#hero-section {
  -webkit-animation-name: text-change;
          animation-name: text-change;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  background: black;
  color: white;
  height: 85vh;
}

#hero-section .hero-section {
  margin: 0 4rem;
  padding-top: 7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#hero-section .hero-section .hero-left h1 {
  font-size: 60px;
}

#hero-section .hero-section .hero-left .p-hero {
  font-size: 20px;
  margin-top: 2rem;
}

#hero-section .hero-section .hero-left .box-esterno {
  margin-top: 1rem;
}

#hero-section .hero-section .hero-left .box-esterno .box-interno {
  -webkit-box-shadow: inset 5px 6px 26px 2px white;
          box-shadow: inset 5px 6px 26px 2px white;
  background: rgba(51, 255, 217, 0.2);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border: 2px solid #11483d;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
  padding: 10px 20px;
  position: relative;
  bottom: 110px;
  left: 20px;
}

#hero-section .hero-section .hero-left .box-esterno .box-interno .box-btn {
  -webkit-animation-name: hero-btn;
          animation-name: hero-btn;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  background: -webkit-gradient(linear, left top, right top, from(#ff007b), to(#ff02ec));
  background: linear-gradient(0.25turn, #ff007b, #ff02ec);
  border-radius: 20px;
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

#hero-section .hero-section .hero-left .box-esterno .box-interno .box-btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#ff02ec), to(#6000ff));
  background: linear-gradient(0.25turn, #ff02ec, #6000ff);
}

#hero-section .hero-section .hero-right .cube_S {
  position: relative;
  bottom: 400px;
  opacity: 0;
}

@-webkit-keyframes hero-btn {
  from {
    width: 300px;
    color: #ff0076;
  }
  to {
    width: 128px;
    color: white;
  }
}

@keyframes hero-btn {
  from {
    width: 300px;
    color: #ff0076;
  }
  to {
    width: 128px;
    color: white;
  }
}

@-webkit-keyframes text-change {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@keyframes text-change {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

#curriculum-section {
  background: black;
  color: white;
}

#curriculum-section .curriculum {
  margin: 0 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#curriculum-section .curriculum-left h3 {
  font-size: 40px;
}

#curriculum-section .curriculum-left p {
  font-size: 17px;
  margin-top: 2rem;
}

#curriculum-section .curriculum-left p span {
  color: #ff0076;
}
/*# sourceMappingURL=style.css.map */