@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import './utils';
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}


@import './_header';
@import './hero';
@import './curriculum';
@import './need';
@import './review';
@import './intro-arguments';
@import './main-arguments'